In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo',start='2007-1-1')['Adj Close']
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  42.872799  39.576427
2007-01-04  42.547291  39.836281
2007-01-05  42.181938  39.017349
2007-01-08  42.274944  39.025219
2007-01-09  42.168652  38.143303

In [4]:
sec_returns = np.log(sec_data/sec_data.shift(1))
sec_returns.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

# Variance of PG

In [6]:
PG_var = sec_returns['PG'].var()
PG_var

0.0001422780606457315

# Annual Variance of PG

In [7]:
PG_var_an = sec_returns['PG'].var()*250
PG_var_an

0.03556951516143287

# Variance of BEI.DE

In [9]:
BEIDE_var = sec_returns['BEI.DE'].var()
BEIDE_var

0.00019124911773334933


# Annualized Variance of BEI.DE

In [11]:
BEIDE_var_an = sec_returns['BEI.DE'].var()*250
BEIDE_var_an

0.04781227943333733

# Covariance Matrix

In [12]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000142  0.000045
BEI.DE  0.000045  0.000191

In [13]:
cov_matrix_an = sec_returns.cov()*250
cov_matrix_an

              PG    BEI.DE
PG      0.035570  0.011236
BEI.DE  0.011236  0.047812

# Correlation Matrix

In [14]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.272021
BEI.DE  0.272021  1.000000