# Equal weighting scheme

In [8]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [9]:
tickers = ['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo',start='2007-1-1')['Adj Close']
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  42.872799  39.576427
2007-01-04  42.547291  39.836281
2007-01-05  42.181938  39.017349
2007-01-08  42.274944  39.025219
2007-01-09  42.168652  38.143303

In [10]:
sec_returns = np.log(sec_data/sec_data.shift(1))
sec_returns.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

In [13]:
weights = np.array([0.5,0.5])
weights

array([0.5, 0.5])

# Portfolio variance

In [11]:
portf_var = np.dot(weights.T,np.dot(sec_returns.cov()*250,weights))

In [12]:
portf_var

0.026463684859177716

# Porfolio Volatility

In [14]:
portf_col = (np.dot(weights.T, np.dot(sec_returns.cov()*250,weights)))**0.5
portf_col

0.1626766266529329

# Calculating Diversifiable and Non-Diversifiable Portofolio Risk

# Disaggregate a portfolio into diversifiable and non-diversifiable risk

In [15]:
weights = np.array([0.5,0.5])

In [16]:
weights

array([0.5, 0.5])

In [17]:
weights[0]

0.5

# Annual Diversifiable Risk = Portfolio Variance - Weighted annual variances

In [24]:
PG_var_an = sec_returns['PG'].var()*250
PG_var_an

0.03556951516143287

In [25]:
BEI_var_an = sec_returns['BEI.DE'].var()*250
BEI_var_an

0.04781227943333733

In [26]:
div_risk = portf_var - (weights[0]**2 * PG_var_an) - (weights[1]**2 * BEI_var_an)
div_risk

0.005618236210485168

# Non-Diversifiable Risk (Systematic Risk)

In [29]:
ndiv_risk1 = portf_var - div_risk
ndiv_risk1

0.020845448648692547

In [30]:
ndiv_risk2 = (weights[0]**2 * PG_var_an) + (weights[1]**2 * BEI_var_an)
ndiv_risk2

0.02084544864869255