In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo',start='2007-1-1')['Adj Close']

In [4]:
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  42.872799  39.576427
2007-01-04  42.547291  39.836281
2007-01-05  42.181938  39.017349
2007-01-08  42.274944  39.025219
2007-01-09  42.168652  38.143303

In [5]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [6]:
sec_returns.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

# Daily average return

In [7]:
sec_returns['PG'].mean()

0.0003396523774081689

# Annual rate of return

In [8]:
sec_returns['PG'].mean()*250

0.08491309435204222

# Standard deviation

In [9]:
sec_returns['PG'].std()

0.011928325203624933

# Annual volatility

In [10]:
sec_returns['PG'].std()*250**0.5

0.18860338157323278

In [11]:
sec_returns['BEI.DE'].mean()

0.00024456793287259125

In [12]:
sec_returns['BEI.DE'].mean()*250

0.06114198321814781

In [13]:
sec_returns['BEI.DE'].std()

0.013831217364978412

In [14]:
sec_returns['BEI.DE'].std()*250**0.5

0.21869074843102093

In [15]:
sec_returns[['PG','BEI.DE']].mean()*250

PG        0.084913
BEI.DE    0.061142
dtype: float64

In [16]:
sec_returns[['PG','BEI.DE']].std()*250**0.5

PG        0.188603
BEI.DE    0.218691
dtype: float64